RUOT_PROXY_ADRESSE=0.0.0.0  # RuOt Proxy public ip/dns
STATUS_PORT_BE=7000         # RuOt Proxy Status bind port
LOGIN_PORT_BE=7100          # RuOt Proxy Login bind port
GAME_PORT_BE=7200           # RuOt Proxy Game bind port
CHAT_PORT_BE=7300           # RuOt Proxy Chat bind port

STATUS_PORT_EP=7070         # Status EndPoint bind port
LOGIN_PORT_EP=7171          # Login EndPoint bind port
GAME_PORT_EP=7172           # Game EndPoint bind port
CHAT_PORT_EP=7173           # Chat EndPoint bind port
